{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/question.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/question.css') }}">
{% endblock %}

{% block content %}
<h2>{{ question.title }}</h2>
<p>{{ question.body }}</p>
<strong>Submitter:</strong> {{ question.submitter.first_name + ' ' + question.submitter.last_name }}
<strong>Votes:</strong> {{ question.votes }}
<i class="icon-arrow-up" data-entity-id="{{question.id}}" data-entity-type="question" data-vote="up"></i>
<i class="icon-arrow-down" data-entity-id="{{question.id}}" data-entity-type="question" data-vote="down"></i>

<hr>

<ul class="unstyled">
  {% for answer in question.answers %}
  <li>
	{% if answer.is_accepted %}
	<i class="icon-ok"></i>
	{% endif %}
	<p>{{ answer.text }}</p>
	<strong>Submitter:</strong> {{ question.submitter.first_name + ' ' + question.submitter.last_name }}
	<strong>Votes:</strong> {{ answer.votes }}
	<i class="icon-arrow-up" data-entity-id="{{answer.id}}" data-entity-type="answer" data-vote="up"></i>
	<i class="icon-arrow-down" data-entity-id="{{answer.id}}" data-entity-type="answer" data-vote="down"></i>
	{% if session['email'] == question.submitter.email and not question.is_answered %}
	<br>
	<button class="btn btn-secondary accept-answer" data-answer-id="{{ answer.id }}" data-question-id="{{ question.id }}">Accept</button>
	{% endif %}
  </li>
  {% endfor %}
</ul>

<!-- Answer form -->
<form method="post" action="/answers/new">
  <input type="hidden" name="question_id" value="{{ question.id }}" />
  
  <legend>Answer this question</legend>
  <div class="control-group">
	<div class="controls">
	  <textarea name="text"></textarea>
	</div>
  </div>
  
  <div class="control-group">
	<div class="controls">
	  <button type="submit" class="btn btn-primary">Submit</button>
	</div>
  </div>
</form>
{% endblock %}
